@import "@heroui/styles";

:root,
.light,
[data-theme="light"],
.dark,
[data-theme="dark"] {
    --accent-soft-foreground: var(--default-foreground);
}

.light,
[data-theme="light"] {
    --dashboard-surface: #f4f4f5;
    --chart: #5e6ad2;
}

.dark,
[data-theme="dark"] {
    --background: #090909;
    --dashboard-surface: #101011;
    --chart: #7c86ff;
}

.button {
    --spacing: 0.3rem;
}
